.container {position: relative;}

.container > .backgroundbox {
  position: absolute;
  bottom: 0;
  background-color: #F2FFFA;
  box-shadow: .1rem .2rem .15rem rgba(0,0,0, .25);
  height: 6rem;
  width: 100%;
  z-index: -1;
}

.container > .group {
  display: flex;
  justify-content: space-around;
}

/* Styles for phones */
@media (max-width: 900px) {
  .container {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > .group {
    flex-direction: column;
    align-items: center;
  }

  .container > .backgroundbox {
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: .4rem .5rem .15rem rgba(19, 92, 97, 0.37);
    max-width: 35rem;
  }
}

/* Styles for tablets */
@media (min-width: 900px) and (max-width: 1023px) {

}

/* Styles for PCs */
@media (min-width: 1024px) {

}